<div>

  <!-- <app-header></app-header> -->

  <!-- start example for parent and child -->

  <!-- <app-parent></app-parent> -->

  <!-- end example for parent and child -->

  <!-- start example for ngStyle  -->
  <!-- <app-chlidone></app-chlidone> -->
  <!-- end example for ngStyle  -->

  <!-- start example for ngClass  -->
  <!-- <app-childtwo></app-childtwo> -->
  <!-- enfd example for ngClass  -->

  <!-- data bindilng -->
  <!-- <app-binding></app-binding> -->

  <!-- httpCient call example -->
   <!-- <app-apicalls></app-apicalls> -->
  
   <!--pips in angular-->
   <!-- <app-pipes></app-pipes> -->
    <!-- <app-servicecall></app-servicecall> -->
     <app-home></app-home>
</div>
<!-- <router-outlet/> -->