<!-- <p>chlidone works!</p> -->
<h1>welcom to childone component</h1>
<!-- <app-childtwo></app-childtwo> -->
<!-- <span>value for the parent:{{valuedata}}</span> -->
<div>
    <!-- <p>{{arraydata}}</p> -->
    <!-- start example 1 -->
    <!-- ngStyle using a method -->
    <!-- <div *ngFor="let element of arraydata1"> -->
        <!-- @for(element of arraydata; track element){ -->
        <!-- <ul>
            <li [ngStyle]="{backgroundColor:differenColors(element.name)}">{{element.name}}</li>
        </ul> -->
    <!-- </div> -->
    <!-- end example 1 -->


    <!-- start example 2 -->
    <!-- simple ngStyle example -->
    <!-- <div [ngStyle]="{backgroundColor:'red'}">
        <p>welcom to user</p>
    </div> -->
    <!-- end example 2 -->
     <!-- start example 3 -->
      <!-- ngStyle using the vaiable -->
       <!-- <p [ngStyle]="{'background-color':mycolor=='balram'?'red':'orange'}">welcom to the user</p> -->
      <!--end example 3-->
      <!--inline style-->
      <!-- <h3 style="background-color: lime;color: white;">hello world</h3> -->
</div>